@import url("./fonts.css");

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --col-width: calc(100% / 12);
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.svg-sprite {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

header {
  min-width: 1440px;
  width: 100vw;
  height: 146px;
  background: #10367c;
  position: fixed;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  opacity: 90%;
  max-width: 1440px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  padding: 51px 104px;
}

.header-menu {
  display: flex;
  justify-content: space-around;
  flex-basis: 30%;
  align-items: center;
  gap: 24px;
}

.header-menu__stays {
  flex-basis: 20%;
  position: relative;
}

.header-menu__stays::before,
.header-menu__stays::after {
  content: "";
  display: block;
  height: 4px;
  background-color: #f5bd41;
  position: absolute;
  bottom: -12px;
  width: 30px;
}

.header-menu__stays::before {
  left: 20px; /* Left line position */
}

.header-menu__stays::after {
  right: 20px; /* Right line position */
}

.header-menu__attractions {
  flex-basis: 60%;
}

.header-menu__night {
  width: 30px;
  height: 30px;
  flex-basis: 20%;
}

.header-menu__account {
  width: 40px;
  height: 40px;
  flex-basis: 20%;
}

.header-menu__hamburger {
  display: none;
}

.header-menu--text {
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  font-weight: 400;
  line-height: 28px;
}

.header-container__logo {
  height: 40px;
  width: 205px;
}

.top-section {
  background-image: url("./../images/triphouse-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.page {
  padding: 293px 104px 0;
  max-width: 1440px;
  margin: 0 auto;
}

.page__heading {
  font-size: 50px;
  color: #ffffff;
  font-weight: 500;
  line-height: 59px;
}

.page-form {
  width: 100%;
}

.page-textzone {
  display: flex;
  padding-top: 100px;
  padding-bottom: 24px;
}

.page-form__label {
  text-align: left;
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  line-height: 21px;
}

.page-inputs {
  background-color: #ffffff;
  border: 3px none #ffffff;
  border-radius: 8px;
  min-height: 64px;
  display: flex;
}

.page-inputs__input-1 {
  border: 3px none #ffffff;
  border-radius: 8px 0 0 8px;
}

.page-inputs__input-1--basis {
  flex-basis: 40%;
  font-size: 18px;
}

.page-inputs__input-2 {
  border: 3px solid #f5bd41;
  border-radius: 8px;
  font-size: 18px;
  text-align: center;
}

.page-inputs__input-2--basis {
  flex-basis: 20%;
}

.page-inputs__input-3 {
  border: 3px none #ffffff;
  font-size: 18px;
  text-align: center;
}

.page-inputs__input-3--basis {
  flex-basis: 30%;
}

.page-form__button--basis {
  flex-basis: 16%;
}

.page-form__button {
  background-color: #3077c6;
  border: 3px none #3077c6;
  color: #ffffff;
  border-radius: 8px;
  font-size: 24px;
}

.page-apps {
  padding: 120px 0;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.advantages-container {
  margin: 0 104px;
}

.advantages {
  max-width: 1440px;
  width: 100%;
  color: #ffffff;
  margin: 0 auto;
  padding: 120px 0;
}

.advantages-heading__text {
  text-align: center;
  font-size: 40px;
  color: #383838;
  font-weight: 500;
  line-height: 47px;
  margin-bottom: 20px;
}

.advantages-heading__line {
  border: 2px solid #f5bd41;
  width: 100px;
  margin: auto;
}

.advantages-block__text {
  color: #383838;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 48px;
}

.advantages-block__svg {
  width: 100px;
  height: 100px;
}

footer {
  max-width: 1440px;
  width: 100%;
  background-color: #10367c;
  margin: 0 auto;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  padding: 120px 272px 120px 104px;
  justify-content: space-between;
  align-content: space-between;
}

.footer-block--above-copyright {
  margin-bottom: 158px;
}

.footer-block__text {
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 24px;
}

.footer-block__text--bold {
  font-weight: 500;
}

.footer-copyright {
  width: 100%;
}

.footer-copyright__text {
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

.footer-logo {
  display: none;
}

.advantages-heading {
  color: #383838;
  padding-bottom: 80px;
}

.advantages-block {
  flex-basis: 25%;
  text-align: center;
}

.advantages-blocks {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 16px;
}

.col-lg-1 {
  width: var(--col-width);
}
.col-lg-2 {
  width: calc(var(--col-width) * 2);
}
.col-lg-3 {
  width: calc(var(--col-width) * 3);
}
.col-lg-4 {
  width: calc(var(--col-width) * 4);
}
.col-lg-5 {
  width: calc(var(--col-width) * 5);
}
.col-lg-6 {
  width: 50%;
}
.col-lg-7 {
  width: calc(var(--col-width) * 7);
}
.col-lg-8 {
  width: calc(var(--col-width) * 8);
}
.col-lg-9 {
  width: calc(var(--col-width) * 9);
}
.col-lg-10 {
  width: calc(var(--col-width) * 10);
}
.col-lg-11 {
  width: calc(var(--col-width) * 11);
}
.col-lg-12 {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  /*Tablets*/
  header {
    height: 48px;
  }

  .header-container {
    padding: 12px 16px;
  }

  .header-container__logo {
    height: 24px;
    width: 120px;
  }

  .header-menu {
    justify-content: space-evenly;
    flex-basis: 30%;
    align-items: center;
    gap: 16px;
  }

  .header-menu__stays {
    display: none;
  }

  .header-menu__attractions {
    display: none;
  }

  .header-menu__night {
    width: 16px;
    height: 16px;
  }

  .header-menu__account {
    width: 24px;
    height: 24px;
  }

  .header-menu__hamburger {
    display: initial;
    width: 24px;
    height: 16px;
    flex-basis: 10%;
  }

  .advantages-container {
    margin: 0 auto;
    padding: 24px;
  }

  .advantages-heading {
    padding: 0;
  }

  .advantages-heading__text {
    font-size: 28px;
    margin-bottom: 32px;
  }

  .advantages-heading__line {
    display: none;
  }

  .advantages-blocks {
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
  }

  .advantages-block__text {
    font-size: 17px;
    margin-top: 16px;
  }

  .advantages-block__svg {
    width: 85px;
    height: 85px;
  }

  .col-md-6 {
    flex-basis: 40%;
  }

  .footer-container {
    padding: 0 67px 40px 67px;
  }

  .footer-block--above-copyright {
    margin-bottom: 36px;
  }

  .footer-block__text {
    font-size: 17px;
    text-decoration: underline;
    display: none;
  }

  .footer-block__text--bold {
    display: initial;
    padding: 36px 0;
  }

  .footer-logo {
    display: block;
    height: 25px;
    margin-top: 40px;
    margin-bottom: 36px;
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 480px) {
  /*Mobile phones*/

  .advantages-block__text {
    font-size: 15px;
  }

  .advantages-block__svg {
    width: 70px;
    height: 70px;
  }

  .col-sm-6 {
    flex-basis: 100%;
  }

  .footer-block__text {
    font-size: 15px;
  }

  .footer-copyright__text {
    font-size: 12px;
  }

  .footer-logo {
    height: 19px;
  }
}
